* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.span {
  margin: auto;
}

.title {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.icon {
  margin-left: 20px;
  margin-right: 50px;
}

.mat-toolbar.mat-primary
{
  background: var(--marked);
}
